app-upload{
   .list-files{
        width:calc(100% - 85px);
        margin-right: 5px;
        float:left;
        overflow: auto;
        mat-list{
            width: 100%;
            padding-top: 0;
            border-radius: 4px;
            mat-list-item{                
                height: 27px !important;                
                border-bottom: 1px solid #ccc;
                padding: 4px 0 !important;
                cursor: pointer;
                &:last-child{
                    border-bottom: none;
                }
                &:hover{
                    background-color: #ebeced;
                }
                .mat-list-item-content{
                    padding: 0 !important;
                }
                span,a{
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    font-size: 13px;
                }
            }
        }
   }
}