app-textboxnumeric{
    mat-form-field{
        input{            
            padding-left: 20px !important;
            width: calc(100% - 40px) !important;
            text-align: center !important;
        }
        /* Chrome, Safari, Edge, Opera */
        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
        }

        /* Firefox */
        input[type=number] {
        -moz-appearance: textfield;
        }
        mat-label{
            padding-left: 20px;
        }
        &.mat-form-field-should-float{            
            mat-label{
                padding-left: 0;
            }
        }
        .mat-textbox-search-clear{
            position: absolute;
            top: 6px;
            right: 20px;
            width: 30px;
            height: 30px;
            line-height: 30px;
            display: none;
            mat-icon{
                font-size: 15px;
            }
        }
        &:hover{
            .mat-textbox-search-clear{
                display: block;
            }
        }
        .crease{
            position: absolute;
            left: -10px;
            top: -25px;
            z-index: 9;
        }
        .increase{
            position: absolute;
            right: -10px;
            top: -25px;
            z-index: 9;
        }
        &.mat-form-field-disabled{
            *{
                cursor: not-allowed;
            }
        }
    }
}