<div class="full-width">
  <mat-form-field appearance="outline" class="full-width {{customClass}}" [floatLabel]="floatLabel">
    <mat-label><span [innerHTML]="label"></span> <span style="color: red;font-weight: bold;" *ngIf="required"> *</span></mat-label>
    <button tabindex="-1" matPrefix mat-icon-button class="{{iconType==2?'icon-base-64':''}}" *ngIf="icon!=null && icon!='' && !iconSuffix" (click)="iconClick()" matTooltip="{{iconTooltip}}">
      <mat-icon *ngIf="iconType==1">{{icon}}</mat-icon>
      <img *ngIf="iconType==2" src="{{icon}}" alt=""/>
    </button>   
    <div style="width:calc(100% - 30px);overflow: hidden;">
      <input matInput placeholder="{{placeHolder}}" id="{{id}}1{{isAutoFocus ? '-focus': ''}}" name="{{id}}1{{isAutoFocus ? '-focus': ''}}" [(ngModel)]="model1" maxlength="{{maxLength}}"
      (ngModelChange)="emit(1,$event)" (blur)="blur(1)" type="text" (keyup)="onKey($event)"  (keyup.enter)="onEnter($event)"  onKeyPress="if(this.value.length==maxLength) return false;" 
      [readonly]="readonly" [disabled]="disabled" style="width:calc(50% - 5px);float: left;">
      <div class="slash">/</div>
      <input matInput placeholder="{{placeHolder}}" id="{{id}}2{{isAutoFocus ? '-focus': ''}}" name="{{id}}2{{isAutoFocus ? '-focus': ''}}" [(ngModel)]="model2" maxlength="{{maxLength}}"
      (ngModelChange)="emit(2,$event)" (blur)="blur(2)" type="text" (keyup)="onKey($event)"  (keyup.enter)="onEnter($event)" (click)="click(2)" 
      onKeyPress="if(this.value.length==maxLength) return false;" 
      [readonly]="readonly" [disabled]="disabled" style="width:calc(50% - 10px);float: left;padding-left: 5px;" >
    </div>
    
      <button tabindex="-1" matSuffix mat-icon-button class="{{iconType==2?'icon-base-64':''}}" *ngIf="icon!=null && icon!='' && iconSuffix" (click)="iconClick()" matTooltip="{{iconTooltip}}">
        <mat-icon *ngIf="iconType==1">{{icon}}</mat-icon>
        <img *ngIf="iconType==2" src="{{icon}}" alt=""/>
      </button>   
      <button tabindex="-1" mat-button *ngIf="(model1!=null||model2!=null) && showIconClear && !disabled"
            mat-icon-button
            aria-label="Clear"
            (click)="reset()"
            matTooltip="Bỏ chọn"
            class="mat-textbox-search-clear {{type=='number'?'number':''}}">
      <mat-icon>close</mat-icon>
    </button>   
  </mat-form-field>
  <label id="error{{id}}" class="error" [innerHTML]="validationerror"></label>
</div>