<div class="panel">
  <div class="left">
    <div class="header">
      <div class="breadcrumb flat">
        <a>TIẾP NHẬN</a>
        <a class="active">LỊCH SỬ ĐĂNG KÝ KHÁM</a>
      </div>
    </div>
    <div class="grid-content">
      <app-table #tableLichSuDangKyKham masterName="tableLichSuDangKyKham" [columns]="columns"
        [documentType]="documentType" [headerTemplate]="headerTemplate" [groupByColumns]="groupByColumns"
        [sortByColumn]="sortByColumn" [showIndex]="false" [showCheckbox]="false"
        (extDataItemSelected)="extDataItemSelected($event)" (extOnSearch)="extOnSearch()">
      </app-table>
    </div>
  </div>

  <div class="right">
    <div class="header">
      <h3 class="title">THÔNG TIN CHI TIẾT </h3>
    </div>
    <div class="chi-tiet-content" *ngIf="dataChon!=null">
      <app-lich-su-dang-ky-kham-chi-tiet [data]="dataChon" (dataChange)="dataChange($event)"
        (quayLaiChange)="quayLaiChange()" (quayLaiVaTaiLaiChange)="quayLaiVaTaiLaiChange()"></app-lich-su-dang-ky-kham-chi-tiet>
    </div>
  </div>
</div>

<ng-template #headerTemplate>
  <div class="header-template" id="header">
    <div style="position: relative;">
      <!-- <app-textbox style="display: inline-block;margin-bottom: 4px;width: 100px;margin-right: 5px;" id="MaTiepNhan" label="MÃ TN"
        [(model)]="timKiemModel.MaTiepNhan" (keyup)="onKey($event)"></app-textbox>
      <app-textbox style="display: inline-block;margin-bottom: 4px;width: 100px;margin-right: 5px;" id="MaNguoiBenh" label="MÃ NB"
        [(model)]="timKiemModel.MaNguoiBenh" (keyup)="onKey($event)"></app-textbox> -->
      <app-textbox style="display: inline-block;margin-bottom: 4px;width: 150px;margin-right: 5px;" id="HoTen" label="HỌ TÊN"
        [(model)]="timKiemModel.HoTen" (keyup)="onKey($event)"></app-textbox>
      <app-select style="display: inline-block;margin-bottom: 4px;width: 100px;margin-right: 5px;" label="GIỚI TÍNH" [multiple]="true"
        url="Common/GetGioiTinhLookup">
      </app-select>
      <app-textbox style="display: inline-block;margin-bottom: 4px;width: 100px;margin-right: 5px;" id="DienThoai" label="ĐIỆN THOẠI"
        [(model)]="timKiemModel.SoDienThoai" (keyup)="onKey($event)"></app-textbox>
      <app-datetimepicker style="display: inline-block;margin-bottom: 4px;width: 210px;margin-right: 5px;" id="NgayTiepNhanTu"
        label="TIẾP NHẬN TỪ" [(model)]="timKiemModel.NgayTiepNhanTu" (keyup)="onKey($event)"></app-datetimepicker>
      <app-datetimepicker style="display: inline-block;margin-bottom: 4px;width: 210px;margin-right: 5px;" id="NgayTiepNhanDen"
        label="TIẾP NHẬN ĐẾN" [(model)]="timKiemModel.NgayTiepNhanDen" (keyup)="onKey($event)"></app-datetimepicker>
        <app-select style="display: inline-block;margin-bottom: 4px;width: 150px;margin-right: 5px;" id="TrangThais"
        url="Common/GetTrangThaiLichSuYeuCauTiepNhanLookup" [multiple]="true"
        label="TRẠNG THÁI" [(model)]="timKiemModel.TrangThais" ></app-select>
      <div style="display: inline-block;margin-bottom: 4px;width: 120px;">
        <button (click)="timKiem()" mat-stroked-button color="primary" class="btn-tim-kiem"><mat-icon>search</mat-icon> Tìm kiếm</button>
      </div>
      <div style="display: inline-block;margin-bottom: 4px;width: 120px;" *ngIf="dangTimKiem">
        <button (click)="huyTimKiem()" mat-button class="btn-huy-tim-kiem"><mat-icon>clear</mat-icon> Hủy tìm kiếm</button>
      </div>
    </div>
  </div>
</ng-template>
<ng-template #actionTemplate let-dataItem>
  <button mat-icon-button [matMenuTriggerFor]="menu"><mat-icon>more_horiz</mat-icon></button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item>In phiếu khám bệnh</button>
  </mat-menu>
</ng-template>
<ng-template #laDangKyHenTruocTemplate let-dataItem>
  <div class="text-center"><app-checkbox [(model)]="dataItem.LaDangKyHenTruoc" disabled="true"></app-checkbox></div>
</ng-template>
<ng-template #tinhTrangTemplate let-dataItem>
  <span style="border-radius: 15px;padding: 3px 10px;text-align: center;margin-right: 5px;" class="bg" [ngClass]="{'green':dataItem.LoaiTrangThaiYeuCauTiepNhan==3,'red': dataItem.LoaiTrangThaiYeuCauTiepNhan==4}">{{dataItem.TrangThaiYeuCauTiepNhan}}</span>
</ng-template>
