.select-field{
    .mat-select-search-clear{
        position: absolute;
        top: 3px;
        right: 0px;
        width: 30px;
        height: 30px;
        line-height: 30px;
        display: none;
        mat-icon{
            font-size: 15px;
        }
    }
    &:hover{
        .mat-select-search-clear{
            display: block;
        }
    }
}

mat-form-field{
  &.mat-form-field-disabled{
      *{
          cursor: not-allowed;
      }
  }

}
