<fieldset class="mb-1"
  style="background-color: #e6ffff;position: relative;">
  <legend>THÔNG TIN HÀNH CHÍNH</legend>
  <ul class="inline">
    <li>Mã TN: <strong>2204050036</strong></li>
    <li>Mã NB: <strong>22036936</strong></li>
    <li>Họ tên: <strong>NGUYỄN THỊ LAN</strong></li>
    <li>Giới tính: <strong>Nữ</strong></li>
    <li>Tuổi: <strong>31</strong></li>
    <li>SĐT: <strong>035 276 3599</strong></li>
    <li>Dân tộc: <strong>Kinh</strong></li>
    <li>Nghề nghiệp: <strong>Công nhân</strong></li>
    <li>Địa chỉ: <strong>203 Quang Trung, Phường Quang Trung, Quận Hà Đông, Thành phố Hà Nội</strong></li>
    <li>Số BHYT: <strong>5623659865986458</strong></li>
    <li>Mức hưởng: <strong class="blue">20%</strong></li>
    <li>Ngày hiệu lực: <strong>05/04/2022</strong></li>
    <li>Lý do TN: <strong>Khám bệnh</strong></li>
    <li>Tiếp nhận lúc: <strong>05/04/2022 14:33</strong></li>
    <li>Hình thức đến: <strong>Tự đến</strong></li>
  </ul>
  <button mat-icon-button style="position: absolute;bottom:0;right:0" matTooltip="Cập nhật đối tượng">
    <mat-icon>edit_note</mat-icon>
  </button>
</fieldset>