mat-card-actions{
    border-top: 1px solid #ccc;
}
.fieldset-thong-tin-hanh-chinh{
    max-height: 75px;
    position: relative;overflow-y: auto;
    background-color: #e6ffff;
    
    @media (max-width: 575px) {
        max-height: none;
    }
    
}
#thu-tien-content{
    overflow-y: auto;
    overflow-x: hidden;
    @media (max-width: 575px) {
        overflow-y: hidden;
    }
}