
<div class="full-width">
  <mat-form-field appearance="outline" class="full-width ">
    <mat-label>{{label}} <span style="color: red;font-weight: bold;" *ngIf="required">*</span></mat-label>
    <input matInput [matDatepicker]="picker" placeholder="{{placeHolder}}"  id="{{id}}" name="{{id}}" [(ngModel)]="model" (ngModelChange)="emit($event)" (blur)="blur()"
    [readonly]="readonly"  [disabled]="disabled">
    <mat-datepicker-toggle tabindex="-1" matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker tabindex="-1"></mat-datepicker>
    <button tabindex="-1" mat-button *ngIf="model!=null && showIconClear && !disabled"
          mat-icon-button
          aria-label="Clear"
          (click)="reset()"
          matTooltip="Bỏ chọn"
          class="mat-datepicker-search-clear">
    <mat-icon>close</mat-icon>
  </button>   
  </mat-form-field>
  <label id="error{{id}}"  class="error" [innerHTML]="validationerror"></label>
</div>
