
  .success {
    background: #78a500;

    * {
      color: #fff;
    }
  }

  .error {
    background: #f44336;

    * {
      color: #fff;
    }
  }

  .warning {
    background: #ffab00;

    * {
      color: #fff;
    }
  }