<div class="panel">
  <div class="left">
    <div class="header">
      <div class="breadcrumb flat">
        <a>QUẢN TRỊ</a>
        <a>NHÓM KHOA PHÒNG </a>
        <a class="active">KHOA PHÒNG</a>
      </div>
      <button mat-mini-fab color="primary" class="add" matTooltip="Thêm" (click)="table.create()">
        <mat-icon>add</mat-icon>
      </button>
    </div>
    <div class="grid-content">
      <app-table #tableKhoaPhong masterName="tableKhoaPhong" [columns]="columnsKhoaPhong"
        [documentType]="documentTypeKhoaPhong" [groupByColumns]="groupByColumnsKhoaPhong"
        [headerTemplate]="headerKhoaPhongTemplate" [sortByColumn]="sortByColumnKhoaPhong" [showIndex]="false"
        [showCheckbox]="false" (extDataItemSelected)="extDataItemSelected($event)">
      </app-table>
    </div>
  </div>

  <div class="right">
    <div class="header">
      <h3 class="title">THÔNG TIN CHI TIẾT </h3>
    </div>
    <div class="chi-tiet-content" *ngIf="dataChon!=null">
      <app-khoa-phong-chi-tiet [data]="dataChon" (dataChange)="dataChange($event)" (quayLaiChange)="quayLaiChange()"
        (quayLaiVaTaiLaiChange)="quayLaiVaTaiLaiChange()"></app-khoa-phong-chi-tiet>
    </div>
  </div>
</div>


<ng-template #headerKhoaPhongTemplate>
  <div class="header-template" id="header">
    <div style="position: relative;">

      <app-textbox style="display: inline-block;margin-bottom: 4px;width: 150px;margin-right: 5px;" id="Ma" label="MÃ"
        [(model)]="khoaPhongQueryInfo.Ma" (keyup)="onKey($event)"></app-textbox>

      <app-textbox style="display: inline-block;margin-bottom: 4px;width: 150px;margin-right: 5px;" id="Ten" label="TÊN"
        [(model)]="khoaPhongQueryInfo.Ten" (keyup)="onKey($event)"></app-textbox>

      <app-select style="display: inline-block;margin-bottom: 4px;width: 150px;margin-right: 5px;"
        label="LOẠI KHOA PHÒNG" url="QuanTriNhomKhoaPhongKhoaPhong/GetLookupLoaiKhoaPhong"
        [(model)]="khoaPhongQueryInfo.LoaiKhoaPhong">
      </app-select>

      <div style="display: inline-block;margin-bottom: 4px;width: 100px;margin-right: 5px;">
        <app-checkbox id="khongMangThai" label="Nội trú" class="ml-4 mb-1"
            [(model)]="khoaPhongQueryInfo.CoKhamNoiTru" style="margin-top: 1px;">
          </app-checkbox>
      </div>
      <div style="display: inline-block;margin-bottom: 4px;width: 100px;margin-right: 5px;">
        <app-checkbox id="coMangThai" label="Ngoại trú" class="mb-1" [(model)]="khoaPhongQueryInfo.CoKhamNgoaiTru"
        style="margin-top: 1px;">
      </app-checkbox>
      </div>

      <app-select style="display: inline-block;margin-bottom: 4px;width: 150px;margin-right: 5px;" label="HIỆU LỰC"
        [items]="[{KeyId:1,DisplayName:'Đang sử dụng'},{KeyId:2,DisplayName:'Không sử dụng'}]"
        [(model)]="khoaPhongQueryInfo.HieuLuc">
      </app-select>

      <div style="display: inline-block;margin-bottom: 4px;width:120px;">
        <button (click)="timKiem()" mat-stroked-button color="primary" class="btn-tim-kiem">
          <mat-icon>search</mat-icon> Tìm kiếm
        </button>
      </div>
      <div style="display: inline-block;margin-bottom: 4px;width: 120px;" *ngIf="dangTimKiem">
        <button (click)="huyTimKiem()" mat-button class="btn-huy-tim-kiem">
          <mat-icon>clear</mat-icon> Hủy tìm kiếm
        </button>
      </div>
    </div>
  </div>
</ng-template>
<ng-template #trangThaiTemplate let-dataItem>
  <button *ngIf="dataItem.HieuLuc != true" (click)="updateKhoaPhong(dataItem.Id,dataItem.HieuLuc)" mat-menu-item>
    <mat-icon style="color: red;">clear</mat-icon>Ngừng sử dụng
  </button>
  <button *ngIf="dataItem.HieuLuc == true" (click)="updateKhoaPhong(dataItem.Id,dataItem.HieuLuc)" mat-menu-item>
    <mat-icon color="primary">done</mat-icon>Đang sử dụng
  </button>
</ng-template>