h2{
    font-weight: 800;
    font-size: 40px;
}
mat-card{
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}
.chart-tinh-trang-kham{
    position: relative; 
    height:calc(100% - 400px); 
    width:100%;
}