<div class="panel">
  <div class="left">
    <div class="header">
      <div class="breadcrumb flat">
        <a>QUẢN TRỊ</a>
        <a>NHÓM DƯỢC PHẨM</a>
        <a class="active">NHÓM THUỐC</a>
      </div> 
      <!-- <button mat-mini-fab color="primary" class="add" matTooltip="Thêm" (click)="gridTree()">
        <mat-icon>add</mat-icon>
      </button> -->
    </div>
    <div class="grid-content">      
      <!-- (extOnSelected)="chonNhomThuoc($event)" -->
      <app-tree #treeNhomThuoc id="treeNhomThuoc" urlGetData="QuanTriNhomDuocPhamNhomThuoc/GetDataForGridAsync"
      [(model)]="id" [isExpandAll]="false" heightToolbar="150"   >
    </app-tree>
    </div>
  </div>

  <div class="right">
    <div class="header">
      <h3 class="title">THÔNG TIN CHI TIẾT</h3>
    </div>
    <div class="chi-tiet-content">
      <!-- <app-nhom-thuoc-chi-tiet [data]="id" (dataChange)="dataChange($event)"
        (quayLaiChange)="quayLaiChange()"></app-nhom-thuoc-chi-tiet> -->
    </div>
  </div>
</div>
