.form-content-ke-toa{
    overflow-y: auto;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    background: #fff;
    padding: 5px 10px;
    border-radius: 5px;
}
fieldset{
  &.thuoc{
    position: relative;
    legend{
      span{
        font-weight: bold;
        &.has-clear{
          padding-left: 40px;
        }
      }
    }
    .clear-thuoc{
      position: absolute;
      top: -11px;
    }
    &:hover{
      background-color: #EBECED;
      border-color: #01adef;
    }
  }
}
